*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}



body {
    background: linear-gradient(to right, #ffffff, #0b58bf);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}




/*FOOTER*/
footer{
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
